<div class="container">
   <div class="row ml-5">
    <div class="card" style="width: 18rem;">
      <img src="../assets/ps5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{c.Nome}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a (click)="atualizar()" class="btn btn-primary">Comprar</a>
        <a (click)="inserir()" class="btn btn-primary">inserir produto</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../assets/xbox.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{c.Nome}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a (click)="atualizar()" class="btn btn-primary">Comprar</a>
        <a (click)="inserir()" class="btn btn-primary">inserir produto</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../assets/pc.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{c.Nome}}</h5>
        <p class="card-text">ss to build on the card title and make up the bulk of the card's content.</p>
        <a (click)="atualizar()" class="btn btn-primary">Comprar</a>
        <a (click)="inserir()" class="btn btn-primary">inserir produto</a>
      </div>
    </div>

   </div>
</div>
